.form-container {
    background: #fff;
    width: 420px;
    height: 420px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 420px;
    padding: 0 20px;
    position: absolute;
    top: 80px;
}

form#loginForm input,
form#regForm input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form#loginForm .btn,
form#regForm .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    background-color: #FFC520;
    padding: 5px 0;
    border-radius: 10px;
    font-size: 16px;
}

form .btn:focus {
    outline: none;
}

#loginForm {
    left: 0px;
    margin-top: 15%;
}

#regForm {
    left: 450px;
    width: 100%;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    background: #FFC520;
    height: 3px;
    margin-top: 8px;
    /* transform: translateX(100px); */
}

.transition {
    transition: transform 1s;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 2px;
}

.errormsg {
    color: red;
    padding: 0px;
    border: 0px;
    font-size: 12px;
    text-align: left;
}

.registrationerror {
    border: 1px solid red !important;
}

.account-status {
    color: green;
}