body {
    font-size: 1.1rem;
}

.product-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
}

.product-image {
    grid-row-start: 1;
    grid-row-end: 3;
}

.product-image img {
    width: 80%;
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.product-description {
    grid-row-start: 2;
    grid-row-end: 3;
}

.heading {
    font-weight: bold;
}

.minus,
.plus {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.quantity {
    width: 50px;
    border: none;
    text-align: center;
    height: 30px;
}

.quantity-container {
    margin:auto 0
}

.addcart-btn {
    height: 40px;
    width: 100%;
    border: 1px solid black;
    background-color: #50c878;
    border-radius: 12px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20px;
}

.size-qty {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.size-selector {
    width: 90%;
}