{% extends "my-account-base.html" %}
    {% block accounthead %}
        <title>Account | Urban Co.</title>
    {% endblock %}
    {% block page_title %}
        <h3>Account</h3>
    {% endblock %}
    {% block account_content %}
        <div class="form-container">
            <form action="#">
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname" id="firstname" value="{{user.firstname}}" required>
                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname" id="lastname" value="{{user.lastname}}" required>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" value="{{user.email}}" required>
                <label for="streetadd">Street Address:</label>
                <input type="text" class="streetadd" name="streetadd" id="streetadd" value="" >

                <label for="city">City:</label>
                <input type="text" class="city" name="city" id="city" value="">
                
                <label for="suburb">Suburb:</label>
                <input type="text" class="suburb" name="suburb" id="suburb" value="">

                <label for="suburb">Country:</label>
                <input type="text" class="country" name="country" id="country" value="">

                <label for="updatepwd">New Password:</label>
                <input type="password" id="updatepwd" name="updatepwd" placeholder="Your Password" required>
                
                <label for="updatepwd">Confirm Password:</label>
                <input type="password" id="confirmpwd" name="confirmpwd" placeholder="Confirm Password" required>
                <button type="submit" name="register" class="btn update-detail-btn">Update Details</button>
            </form>
        </div>
    {% endblock %}