<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Urban Co.</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <div class="nav-wrapper">
                <nav class="nav">
                    <div class="nav-left">
                        <a class="logo" href="/">Urban Co.</a>
                        <ul class="nav-links">
                            <li><a href="/new">New</a></li>
                            <li><a href="/tshirt">T Shirts</a></li>
                            <li><a href="/jeans">Jeans</a></li>
                            <li><a href="/hoodies-sweats">Hoodies & Sweats</a></li>
                            <li><a href="/accessories">Accessories</a></li>
                            <li><a href="/sales">Sales</a></li>
                        </ul>
                    </div>
                    <div class="nav-right">
                        <button type="button" class="btn btn-outline-light me-2">Login</button>
                        <button type="button" class="btn btn-warning me-2">Signup</button>
                    </div>
                </nav>
            </div>
            <div class="main-content">
                <h1>Catalogue</h1>
                <div class="product-grid-container">
                    {% for product in products%}
                    <a href="{{url_for('view_product', productcode=product.productcode)}}">
                        <div class="product-card">
                            <h2 class="product-name">{{product.productname}}</h2>
                            <p class="product-price">{{product.productprice}}</p>
                            <img class="product-image" src="{{product.productimage}}" alt='Image of {{product.productname}}'/>
                            <p class="product-desc">{{product.productdesc}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>