{% extends "base.html" %}
    {% block head %}
        <title>Dashboard | Urban Co.</title>
    {% endblock %}
    {% block content %}
        <div class="main-content">
            <div class="card-grid">
                <div class="card">
                    <h1>Inventory</h1>
                </div>
                <div class="card">
                    <h1>Promotions</h1>
                </div>
                <div class="card">
                    <h1>Users</h1>
                </div>
                <div class="card">
                    <h1>Order</h1>
                </div>
            </div>
        </div>
    {% endblock %}