{% extends "base.html" %}
    {% block content %}
    <div class="swiper" id="hoodie-swiper">
        <h2>Hoodies & Sweats </h2>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product-card">
                    <img class="product-image" src="../static/images/ab-dragon-emb-hoodie-white-front-10005040.webp" alt="Image of Dragon Embroidered Box Fit Hoodie">
                    <p class="product-name">Dragon Embroidered Box Fit Hoodie</p> <br>
                    <p class="product-price">$59.99</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <img class="product-image" src="../static/images/bd-photosynthesis-hoodie-snow-marle-front-10004945.webp" alt="Image of Photosythnesis Graphic Print Hoodie">
                    <p class="product-name">Photosythnesis Graphic Print Hoodie</p><br>
                    <p class="product-price">$59.99</p>
                </div> 
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <img class="product-image" src="../static/images/ab-butterfly-emb-box-hooded-sweat-tan-front-10004429.webp" alt="Image of Butterfly Embroidered Box Fit Hoodie">
                    <p class="product-name">Butterfly Embroidered Box Fit Hoodie</p><br>
                    <p class="product-price">$59.99</p>
                </div>

            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <img class="product-image" src="../static/images/ab-yoga-retreat-crew-green-front-10004852.webp" alt="Image of Yoga Retreat Crew Neck Sweat">
                    <p class="product-name">Yoga Retreat Crew Neck Sweat</p><br>
                    <p class="product-price">$49.99</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <img class="product-image" src="../static/images/ab-ancient-alien-sweat-solid-black-front-10004848.webp" alt="Image of Ancient Alien Graphic Print Sweat">
                    <p class="product-name">Ancient Alien Graphic Print Sweat</p><br>
                    <p class="product-price">$49.99</p>
                </div>
            </div>
            <div class="swiper-slide">

                <div class="product-card">
                    <img class="product-image" src="../static/images/ab-dragon-emb-hoodie-white-front-10005040.webp" alt="Image of Dragon Embroidered Box Fit Hoodie">
                    <p class="product-name">Dragon Embroidered Box Fit Hoodie</p><br>
                    <p class="product-price">$59.99</p>
                </div>
            </div>
            <div class="swiper-slide">
                
                <div class="product-card">
                    <img class="product-image" src="../static/images/bd-photosynthesis-hoodie-snow-marle-front-10004945.webp" alt="Image of Photosythnesis Graphic Print Hoodie">
                    <p class="product-name">Photosythnesis Graphic Print Hoodie</p><br>
                    <p class="product-price">$59.99</p>
                </div> 
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <img class="product-image" src="../static/images/ab-butterfly-emb-box-hooded-sweat-tan-front-10004429.webp" alt="Image of Butterfly Embroidered Box Fit Hoodie">
                    <p class="product-name">Butterfly Embroidered Box Fit Hoodie</p><br>
                    <p class="product-price">$59.99</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <img class="product-image" src="../static/images/ab-yoga-retreat-crew-green-front-10004852.webp" alt="Image of Yoga Retreat Crew Neck Sweat">
                    <p class="product-name">Yoga Retreat Crew Neck Sweat</p><br>
                    <p class="product-price">$49.99</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-card">
                    <img class="product-image" src="../static/images/ab-ancient-alien-sweat-solid-black-front-10004848.webp" alt="Image of Ancient Alien Graphic Print Sweat">
                    <p class="product-name">Ancient Alien Graphic Print Sweat</p><br>
                    <p class="product-price">$49.99</p>
                </div>
            </div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- </div> -->
    </div>
    {% endblock %}