<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Urban Co.</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="nav-wrapper">
                <nav class="nav">
                    <div class="nav-left">
                        <a class="logo" href="/">Urban Co.</a>
                        <ul class="nav-links">
                            <li><a href="/new">New</a></li>
                            <li><a href="/tshirt">T Shirts</a></li>
                            <li><a href="/jeans">Jeans</a></li>
                            <li><a href="/hoodies-sweats">Hoodies & Sweats</a></li>
                            <li><a href="/accessories">Accessories</a></li>
                            <li><a href="/sales">Sales</a></li>
                        </ul>
                    </div>
                    <div class="nav-right">
                        <button type="button" class="btn btn-outline-light me-2">Login</button>
                        <button type="button" class="btn btn-warning me-2">Signup</button>
                    </div>
                </nav>
            </div>
            <div class="main-content">
                <div class="promotions">
                    <!-- <h1>CURRENT PROMOTIONS</h1> -->
                    <div class="promotions-swiper">CURRENT PROMOTIONS</div>
                </div>
                <!-- <div class="product-grid-container"> -->
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="product-image" src="../static/images/ab-dragon-emb-hoodie-white-front-10005040.webp" alt="Image of Dragon Embroidered Box Fit Hoodie">
                                <h2 class="product-name">Dragon Embroidered Box Fit Hoodie</h2>
                                <p class="product-price">$59.99</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="product-image" src="../static/images/bd-photosynthesis-hoodie-snow-marle-front-10004945.webp" alt="Image of Photosythnesis Graphic Print Hoodie">
                                <h2 class="product-name">Photosythnesis Graphic Print Hoodie</h2>
                                <p class="product-price">$59.99</p>
                            </div> 
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="product-image" src="../static/images/ab-butterfly-emb-box-hooded-sweat-tan-front-10004429.webp" alt="Image of Butterfly Embroidered Box Fit Hoodie">
                                <h2 class="product-name">Butterfly Embroidered Box Fit Hoodie</h2>
                                <p class="product-price">$59.99</p>
                            </div>

                        </div>

                        <div class="swiper-slide">
                            
                            <div class="product-card">
                                <img class="product-image" src="../static/images/ab-yoga-retreat-crew-green-front-10004852.webp" alt="Image of Yoga Retreat Crew Neck Sweat">
                                <h2 class="product-name">Yoga Retreat Crew Neck Sweat</h2>
                                <p class="product-price">$49.99</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="product-image" src="../static/images/ab-ancient-alien-sweat-solid-black-front-10004848.webp" alt="Image of Ancient Alien Graphic Print Sweat">
                                <h2 class="product-name">Ancient Alien Graphic Print Sweat</h2>
                                <p class="product-price">$49.99</p>
                            </div>

                        </div>
                        <div class="swiper-slide">

                            <div class="product-card">
                                <img class="product-image" src="../static/images/ab-dragon-emb-hoodie-white-front-10005040.webp" alt="Image of Dragon Embroidered Box Fit Hoodie">
                                <h2 class="product-name">Dragon Embroidered Box Fit Hoodie</h2>
                                <p class="product-price">$59.99</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            
                            <div class="product-card">
                                <img class="product-image" src="../static/images/bd-photosynthesis-hoodie-snow-marle-front-10004945.webp" alt="Image of Photosythnesis Graphic Print Hoodie">
                                <h2 class="product-name">Photosythnesis Graphic Print Hoodie</h2>
                                <p class="product-price">$59.99</p>
                            </div> 
                        </div>
                        <div class="swiper-slide">

                            <div class="product-card">
                                <img class="product-image" src="../static/images/ab-butterfly-emb-box-hooded-sweat-tan-front-10004429.webp" alt="Image of Butterfly Embroidered Box Fit Hoodie">
                                <h2 class="product-name">Butterfly Embroidered Box Fit Hoodie</h2>
                                <p class="product-price">$59.99</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="product-card">
                                <img class="product-image" src="../static/images/ab-yoga-retreat-crew-green-front-10004852.webp" alt="Image of Yoga Retreat Crew Neck Sweat">
                                <h2 class="product-name">Yoga Retreat Crew Neck Sweat</h2>
                                <p class="product-price">$49.99</p>
                            </div>

                        </div>
                        <div class="swiper-slide">

                            <div class="product-card">
                                <img class="product-image" src="../static/images/ab-ancient-alien-sweat-solid-black-front-10004848.webp" alt="Image of Ancient Alien Graphic Print Sweat">
                                <h2 class="product-name">Ancient Alien Graphic Print Sweat</h2>
                                <p class="product-price">$49.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- </div> -->
                   
                    
                </div>
                
            </div>
            <script src="../static/js/swiper.js"></script>
    </body>
</html>