{% extends "base.html" %}
    {% block head %}
        <title>Login | Urban Co.</title>
        <link rel="stylesheet" href="../static/css/login-register.css">
    {% endblock %}
    {% block content %}
        <div class="wrapper">
            <div class="form-container">
                <div class="form-btn">
                    <span onclick="login()">Login</span>
                    <span onclick="register()">Sign Up</span>
                    <hr id="indicator" class="transition">
                </div>
                <form id="loginForm" action="?" class="transition" method="POST">
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="password"  placeholder="Password">
                    <button type="submit" name="login" class="btn">Login</button>
                </form>
                <form id="regForm" action="{{url_for('register')}}" class="transition" method="POST">
                    <input type="text" name="firstname" placeholder="First Name" value="{{user.firstname}}" required>
                    <input type="text" name="lastname" placeholder="Last Name" value="{{user.lastname}}"required>
                    <input type="email" id="email" name="email" placeholder="Your Email" class="{{regerr}}" value="{{user.email}}" required>
                    <div class="errormsg">{{errmsg}}</div>
                    <input type="password" id="pwd" name="pwd" placeholder="Your Password" required>
                    <input type="password" id="confirmpwd" name="confirmpwd" placeholder="Confirm Password" oninput="check(this)" required>
                    <button type="submit" name="register" class="btn">Sign Up</button>
                </form>
            </div>
        </div>
    {% endblock %}
    {% block js %}
        {% if exists == True %}
            <script>
                register()
                document.getElementById("email").setCustomValidity("Email already exists")
            </script>
        {% else  %}
            <script>
                login()
                document.getElementById("email").setCustomValidity("")
            </script>
        {% endif %}
    {% endblock %}