{% extends "base.html" %}
    {% block content %}
        {% for product in product_details %}
            <div class="product-wrapper">
                <div class="product-name" id="product-top">{{product.productname}}</div>
                <div class="product-image" id="product-left"><img src="{{product.productimage}}" alt=""></div>
                <div class="product-purchase" id="product-right">
                    <p>{{product.productprice}}</p>
                    <p>Add to cart</p>
                </div>
                <div class="product-description" id="product-bottom">{{product.productdesc}}</div>
            </div>
        {% endfor %}
    {% endblock %}
